<div class="container mx-auto px-4 py-8">
    <div class="container text-center justify-center mx-auto mb-4">
        <span class="flex items-center justify-center pb-4 text-black dark:text-white">
            <svg width="177" height="123" viewBox="0 0 177 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_153_143)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M55.4632 48.5129H42.0789C24.3611 48.5129 10 62.875 10 80.5918C10 98.3086 24.3611 112.671 42.0789 112.671H134.32C152.037 112.671 166.399 98.3086 166.399 80.5918C166.399 62.875 152.037 48.5129 134.32 48.5129H120.935L120.166 39.3498C118.786 22.9153 104.995 10 88.1993 10C71.4038 10 57.6129 22.9153 56.2327 39.3498L55.4632 48.5129ZM130.131 38.5129C128.319 16.9423 110.237 0 88.1993 0C66.1613 0 48.0793 16.9423 46.2678 38.5129H42.0789C18.838 38.5129 0 57.3523 0 80.5918C0 103.831 18.838 122.671 42.0789 122.671H134.32C157.561 122.671 176.399 103.831 176.399 80.5918C176.399 57.3523 157.561 38.5129 134.32 38.5129H130.131Z"
                        fill="currentColor" />
                    <path d="M106.715 94C106.715 94 99.6431 84.5714 87.8573 84.5714C76.0715 84.5714 69 94 69 94"
                        stroke="currentColor" stroke-width="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M73.7146 61H73.7617" stroke="currentColor" stroke-width="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M102.001 61H102.048" stroke="currentColor" stroke-width="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
                <defs>
                    <clipPath id="clip0_153_143">
                        <rect width="176.399" height="122.671" fill="currentColor" />
                    </clipPath>
                </defs>
            </svg>
        </span>
        <h1 class="text-5xl font-bold mt-2 mb-2 dark:text-white">Aw crap! ({{ .Status }})</h1>
    </div>
    <div>
        <div class="container text-center justify-center mx-auto mb-4">
            <h2 class="text-2xl dark:text-white mb-4">It appears that an error has occurred. Here's a bit more
                information:</h2>
            <div
                class="container text-center justify-center mx-auto mb-4 p-8 border border-black dark:border-white">
                <p class="dark:text-white">{{ .Message }}</p>
            </div>
            <a href="http://i.imgur.com/GaPPuyT.jpg" class="text-bold underline dark:text-white">In the meantime, how about a fun fact?</a>
        </div>
        <div id="buttons" class="w-full flex flex-wrap flex-row items-center justify-center gap-3">
            <a href="/" type="button" class="w-50 px-6 py-3 bg-white dark:bg-gray-600 hover:font-bold hover:bg-red-400 dark:hover:bg-red-400 text-black dark:text-white hover:text-white rounded-xl 
            font-medium transition-all duration-300 
            hover:shadow-lg hover:shadow-red-500/30 focus:ring-2 focus:ring-red-500 focus:ring-offset-2 
            active:scale-95">
                <span class="flex items-center justify-center gap-2 text-2xl">
                    Get me out of here!
                </span>
            </a>
        </div>
    </div>
</div>