<nav class="m-4">
    <ul class="space-y-2 text-2xl text-white font-medium">
        <li class="block px-3 py-2 rounded bg-gray-600 hover:bg-red-500 hover:font-bold">
            <a href="#">
                <div class="flex items-center gap-3">
                    <img src="/assets/static/img/ui/friends.svg" alt="Friends" class="w-8 h-8">
                    Friends
                </div>
            </a>
        </li>
        <li class="block px-3 py-2 rounded bg-gray-600 hover:bg-red-500 hover:font-bold">
            <a href="#">
                <div class="flex items-center gap-3">
                    <img src="/assets/static/img/ui/achievements.svg" alt="Friends" class="w-8 h-8">
                    Achievements
                </div>
            </a>
        </li>
        <li class="block px-3 py-2 rounded bg-gray-600 hover:bg-red-500 hover:font-bold">
            <a href="#">
                <div class="flex items-center gap-3">
                    <img src="/assets/static/img/ui/messages.svg" alt="Friends" class="w-8 h-8">
                    Messages
                </div>
            </a>
        </li>
        <li class="block px-3 py-2 rounded bg-gray-600 hover:bg-red-500 hover:font-bold">
            <a href="#">
                <div class="flex items-center gap-3">
                    <img src="/assets/static/img/ui/voice_chat.svg" alt="Friends" class="w-8 h-8">
                    Voice Chat
                </div>
            </a>
        </li>
        <li class="block px-3 py-2 rounded bg-gray-600 hover:bg-red-500 hover:font-bold">
            <a href="#">
                <div class="flex items-center gap-3">
                    <img src="/assets/static/img/ui/profile.svg" alt="Friends" class="w-8 h-8">
                    My Profile
                </div>
            </a>
        </li>
        <li class="block px-3 py-2 rounded bg-gray-600 hover:bg-red-500 hover:font-bold">
            <a href="#">
                <div class="flex items-center gap-3">
                    <img src="/assets/static/img/ui/settings.svg" alt="Friends" class="w-8 h-8">
                    Settings
                </div>
            </a>
        </li>
    </ul>
</nav>